@charset "UTF-8";
/* ------------------------------------------------*/
/* Basic Color Options Start */
/* ------------------------------------------------*/
::-moz-selection {
  background-color: #7c7d80;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background-color: #7c7d80;
  color: #ffffff;
  text-shadow: none;
}

::-webkit-scrollbar {
  background: #cecece;
}

::-webkit-scrollbar-track {
  background-color: #cecece;
}

::-webkit-scrollbar-thumb {
  background-color: #303030;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  color: #303030;
  background-color: #ffffff;
}

h1 {
  color: #ffffff;
}

.headline__subtitle {
  color: #ffffff;
}

.headline__description {
  color: #ffffff;
}

a {
  color: #262626;
}
a.light {
  color: #ffffff;
}
.no-touch a:hover {
  color: #24262B;
}
.no-touch a:hover.light {
  color: #FFFFFF;
}

p {
  color: #262626;
}
p.light {
  color: #ffffff;
}


.aside__title {
  color: #262626;
}

.aside__text {
  color: #303030;
}

.popup__title {
  color: #262626;
}
.popup__title.light {
  color: #ffffff;
}

.popup__subtitle {
  color: #303030;
}
.popup__subtitle.light {
  color: rgba(255, 255, 255, 0.8);
}

.clip .words-wrapper::after {
  background-color: rgba(255, 255, 255, 0.16);
}

.section-main {
  background-color: #e6e6e6;
}


.color-layer-dark {
  background-color: rgba(0, 0, 0, 0.6);
}

.bg-light {
  background-color: #ffffff;
}

.bg-medium {
  background-color: #f2f2f2;
}

.bg-dark {
  background-color: #24262B;
}

/* ------------------------------------------------*/
/* Basic Color Options End */
/* ------------------------------------------------*/


/* ------------------------------------------------*/
/* Main Section Aside Colors Start */
/* ------------------------------------------------*/
.section-main__aside {
  background-color: #FFFFFF;
}

/* ------------------------------------------------*/
/* Main Section Aside Colors End */
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Buttons & Triggers Colors Start */
/* ------------------------------------------------*/
.button-solid-light {
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  color: #262626;
}
.no-touch .button-solid-light:hover {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}
/* ------------------------------------------------*/
/* Buttons & Triggers Colors End */
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Notify Screen Colors Start */
/* ------------------------------------------------*/
.notify {
  background-color: #24262B;
}

/* ------------------------------------------------*/
/* Notify Screen Colors End */
/* ------------------------------------------------*/
